<!-- <script src="./lk01_files/jquery.min.js"></script>
<script src="./lk01_files/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="./lk01_files/jquery.fancybox.min.js"></script>
<script src="./lk01_files/scripts.js"></script>
<script src="./lk01_files/slick.min.js"></script>
<script src="./lk01_files/jquery.swipebox.min.js"></script>
<script src="./lk01_files/scripts(1).js"></script> -->
<script src="./js/swiper-bundle.min.js"></script>
<script src="./js/scripts-pages.js"></script>
<script src="./js/scripts-lk.js"></script>