<!-- header -->
<header class="header">
	<div class="container">
		<div class="actions-menu-wrap">
			<div class="menu-wrap js-popup-wrap">
				<a href="https://xn--90abjb3clnt.xn--p1ai/review" class="btn-action-ico ico-menu js-btn-toggle"></a>
				<div class="menu-content-block js-popup-block">
					<!--site-menu-box-->
					<div class="site-menu-box">
						<div class="menu-inner-wrap">
							<div class="search-inner-wrap">

							</div>
							<div class="tags-inner-wrap">
								<ul>

									<li><a href="https://xn--90abjb3clnt.xn--p1ai/okompanii/" class="btn-tag">О
											компании</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/review" class="btn-tag">Отзывы</a>
									</li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/ii-vnedrenie-v-produkty-sozdanie-produktov-na-osnove-ii"
											class="btn-tag">Услуги по нейросетям (Ai)</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/sozdanie-saytov"
											class="btn-tag">Разработка сайтов под ключ</a></li>
									<li><a href="https://xn--90abjb3clnt.xn--p1ai/service/blokcheyn-razrabotka-smart-kontraktov-na-solidity"
											class="btn-tag">Блокчейн разработка</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-side-wrap">
							<a href="https://xn--90abjb3clnt.xn--p1ai/review" class="item-tile-menu-action">
								<span class="tile-photo-wrap">
									<span class="tile-photo">
										<img src="./lk01_files/3915370_T5VFBi6sIWqFGhkIA2tu66u7KuX7p32P.jpg"
											alt="Приятно познакомится!">
									</span>
								</span>
								<span class="tile-title-wrap">
									<span class="tile-title">Приятно познакомится! </span>
									<span class="tile-info">"Вебзнай" Вам подскажет и поможет.</span>
								</span>
							</a>
						</div>
					</div><!--/site-menu-box-->
				</div>
			</div>

		</div>
		<div class="logo-wrap">
			<a href="https://xn--90abjb3clnt.xn--p1ai/" class="logo">
				<img src="./lk01_files/logo-header.svg" alt="">
			</a>
			<div class="phone-wrap">
				<a href="tel:+7(920) 303-38-88" class="link-phone">+7(920) 303-38-88</a>
			</div>
		</div>
		<div class="actions-contacts-wrap">
			<div class="phone-wrap">
				<a href="tel:+7(920) 303-38-88" class="link-phone">+7(920) 303-38-88</a>
			</div>
			<div class="soc-wrap">
				<a href="tel:+7(920) 303-38-88" class="btn-action-ico button-soc">
					<img src="./lk01_files/header-soc01.svg" alt="">
				</a>
				<a href="skype:dicreation88" class="btn-action-ico button-soc">
					<img src="./lk01_files/header-soc02.svg" alt="">
				</a>
				<a href="viber://chat?number=+79203033888" class="btn-action-ico button-soc">
					<img src="./lk01_files/header-soc03.svg" alt="">
				</a>
				<a href="https://wa.me/79203033888" class="btn-action-ico button-soc">
					<img src="./lk01_files/header-soc04.svg" alt="">
				</a>
				<a href="https://t.me/webuspex" class="btn-action-ico button-soc">
					<img src="./lk01_files/header-soc05.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->


